@tailwind base;
@tailwind components;
@tailwind utilities;

.border-gradient-br-blue-green-gray-900 {
  background: linear-gradient(to right, #18181B, #18181B),
    linear-gradient(to bottom right, #60A5FA, #4ADE80);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

.hover\:border-gradient-tl-blue-green-gray-900:hover {
  background: linear-gradient(to right, #18181B, #18181B),
    linear-gradient(to top left, #60A5FA, #4ADE80);
  background-clip: padding-box, border-box;
  background-origin: padding-box, border-box;
}

.gradient-border-3 {
  border: 3px solid transparent;
}
